h1{
    text-align: center;
    background-color: antiquewhite;
    color: brown;
}

ul, li{
    text-decoration: none;
}

nav{
    background-color: coral;

}

nav, ul, li, a{
    text-decoration: none;
}

footer{
    text-align: center;
    background-color: lightcoral;
    padding: 2px;
}
